---
import Layout from "../layouts/Layout.astro";
import type { Mountains } from "../interfaces/interfaces";
import SectionCard from "../components/SectionCard.astro";

let mountains = [] as Mountains[];

try {
  const response = await fetch("https://api.nuxtjs.dev/mountains");
  const data = await response.json();
  mountains = data;
} catch (e) {
  console.error(e);
}
---

<Layout title="Mountains">
  <main class="min-h-screen">
    <h3 class="text-2xl font-semibold md:text-3xl">Mountains</h3>

    <div class="mt-10 grid grid-cols-1 gap-4 md:grid-cols-3">
      {
        mountains.map(({ title, image, slug, description }) => (
          <SectionCard
            title={title}
            image={image}
            slug={slug}
            description={description}
          />
        ))
      }
    </div>
  </main>
</Layout>
