---
import CustomCard from "../../components/CustomCard.astro";
import type { Planets } from "../../interfaces/interfaces";
import Layout from "../../layouts/Layout.astro";

let planets: Planets[] = [];

try {
  const response = await fetch(`https://api.nuxtjs.dev/planets`);
  const data = await response.json();

  planets = data;
} catch (error) {
  console.error(error);
}
---

<Layout title="Planets">
  <main class="min-h-screen">
    <a
      href={"/"}
      class="group flex w-fit items-center space-x-1 text-sm md:text-base"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-4 w-4 transition group-hover:-translate-x-1 md:h-5 md:w-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        ></path>
      </svg>
      <span>Go back</span>
    </a>
    <h3 class="mt-8 text-2xl font-semibold capitalize md:text-3xl">Planets</h3>

    <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3">
      {
        planets.map(({ title, image, slug, description }) => (
          <CustomCard
            title={title}
            image={image}
            slug={slug}
            slugCategory={"Planets"}
            description={description}
          />
        ))
      }
    </div>
  </main>
</Layout>
